@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 255;
  --background-end-rgb: 255, 255, 255;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  padding: 10px;
  align-content: center;
  text-align: center;
}

.header {
  max-width: 1170px;
  font-size: 30px;
  color:aliceblue;
  text-align: right;
}

.link {
  padding-left: 15px;
}

.text {
  font-family: 'Indie Flower', cursive;
}

.logo {
  width: 100%;
  height: auto;
}

.footer {
  color: rgb(0, 0, 84);
  background-color: aliceblue;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border:none;
  margin: 10px;
  width:40%;
  height:180px;
}